<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for symptoms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="searchstyles.css">
    <link rel="icon" href="logo0-white.ico">
</head>
<body>
  <div class="nav">        
    <nav class="bg-blue-600 border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center">
            <img src="logo0-white.png" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl text-white font-semibold whitespace-nowrap dark:text-white">Epi-Intel</span>
        </a>
        <div class="flex items-center md:order-2">
            <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="profile.jpg" alt="user photo">
              
            </button>
            <% if(!loggedIn){ %>
            <span class="px-2 font-medium"><a href="/login" class="block py-2 pl-3 pr-4 text-base text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Log in</a></span>
            <% } %>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white"><%=docname%></span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"><%=docemail %></span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                </li>
                <% if(docname=='admin'){ %>
                <li>
                  <a href="/admin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Admin</a>
                </li>
                <% } %>
                <li>
                  <a href="/signup" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </li>
              </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
          <ul class="bg-blue-600 flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="/" class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/addDisease" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Add</a>
            </li>
            <li>
                <a href="/search" class="block py-2 pl-3 pr-4 text-white  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Search</a>
              </li>
            <li>
              <a href="/profile" class="block py-2 pl-3 pr-4 text-white  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Doctor</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>
    </div>

    <div class="jumbo">
    <div class="searchform">
        <div class="wrap">
            <form class="search" action="/searchSymptoms" method="post">
               <input type="text" name="symptoms" class="searchTerm" placeholder="Enter search terms separated by commas">
               <button type="submit" class="searchButton">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </form>
         </div>
    </div>

    <form class="searchType">
    <button class="searchButtonType bysymp" name="searchbut" type="button" formaction="/searchSymptoms">Search by Symptoms</button>
    <button class="searchButtonType bydis" name="searchbut" type="button" formaction="/searchDisease"> Search by Disease</button>
    </form>
    </div>
    <% var i=0; %>
<h1 class="related_tt"><b>Related cases will show up here:</b></h1>
<div class="results">
<% if(diseaseSnippets.length>0){%>
  <% for(i=0;i<diseaseSnippets.length;i++){ %>
      <div class="grid_cell">
      <h2>Doctor: Dr. <%= doctors[i]%></h2>
      <h2>Name: <%= diseaseSnippets[i][0].NAME %></h2>
      <h2>Outcome: <%= diseaseSnippets[i][0].OUTCOME %></h2>
      <form method="post" action="/details">
          <input type="hidden" name="DID" value="<%= diseaseSnippets[i][0].DID %>"></input>
          <button class="morebtn" role="button">More Info</button>
      </form>
  </div>
<% }%>
<%} else{ %>
  <h2>No disease records found</h2>
  <% } %>
</div>
<div class="footer">
    


  <footer class="bg-white rounded-lg  dark:bg-gray-900 m-4">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
          <div class="sm:flex sm:items-center sm:justify-between">
              <a href="/" class="flex items-center mb-4 sm:mb-0">
                  <img src="logo0.png" class="h-8 mr-3" alt="Flowbite Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Epi-Intel</span>
              </a>
              <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                  <li>
                      <a href="#" class="mr-4 hover:underline md:mr-6 ">Contributors:</a>
                  </li>
                  <li>
                      <a href="#" class="mr-4 hover:underline md:mr-6">Harshith R</a>
                  </li>
                  <li>
                      <a href="#" class="mr-4 hover:underline md:mr-6 ">Joseph</a>
                  </li>
                  <li>
                      <a href="#" class="hover:underline">Punith</a>
                  </li>
              </ul>
          </div>
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Epi-Intel™</a>. All Rights Reserved.</span>
      </div>
  </footer>
  
  


  
 </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(".bysymp").click(function(){
        $('.search').attr("action", "/searchSymptoms");
        $('.bydis').removeClass("on_select");
        $(this).toggleClass("on_select"); 
        $('.searchTerm').attr("name", "symptoms");
    })
    $(".bydis").click(function(){
        $('.search').attr("action", "/searchDisease");
        $('.bysymp').removeClass("on_select");
        $(this).toggleClass("on_select");
        $('.searchTerm').attr("name", "diseaseName");
    })
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>